@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Ubuntu:wght@300&display=swap');
*{
    box-sizing: border-box;
    font-family: Ubuntu;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}
  
.sidebar {
    margin: 2rem 0 0 0;
    padding: 0;
    width: 230px;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow:auto;
    background: transparent;
}
  
.sidebar a {
    display: block;
    color: #00374E;
    font-size: 1.1rem;
    padding: 2px 16px 2px 16px;
    text-decoration: none;
}

.sidebar p{
    margin: 8px 0;
}
   
div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: fit-content;
}

.content h1{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
    color:#00374E;
}

.content h2{
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    color:#00374E;
}
  
#titleMenue{
    font-size: 1.5rem;
    font-weight: 550;
    text-align: center;
    color: #00374E;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #00374E;
}
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 55, 78, 0.5);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.sidepanel {
    display: none;
    width: 0;
    position: fixed;
    z-index: 1;
    height: fit-content;
    top: 0;
    left: 0;
    background-color:rgba(11, 62, 84, 1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidepanel a {
    padding: 8px 8px 8px 28px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidepanel a:hover {
    color: #f1f1f1;
}
  
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
  
.openbtn {
    display: none;
    font-size: 20px;
    cursor: pointer;
    background-color:rgba(0, 55, 78, 0.9);
    color: white;
    padding: 10px 15px;
    border: none;
}
  
.openbtn:hover {
    background-color:rgba(0, 55, 78, 0.9);
}

@media screen and (max-width: 850px){
    .sidebar{
        display: none;
    }

    div.content {
        margin: 0 5% 0 5%;
    }

    .content h1{
        font-size: 2rem;
    }
    
    .content h2{
        font-size: 1.5rem;
    }

    .sidepanel{
        display: initial;
    }

    .openbtn{
        display: initial;
    }
}

.mainContent{
    margin-top: 10%;
}

.mainContent .topic .topicHeading h2{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
}

.topic{
    margin-top: 5%;
}

.box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 5px;
    color: #00374E;
}

.box1, .box2, .box3{
    width: 250px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 20px 20px 20px 0px;
    padding: 5px 20px 5px 20px;
    border: 1px solid rgba(0, 55, 78, 0.2);
    border-radius: 15px;
}

@media screen and (max-width: 990px) {
    .box{
        align-items: left;
        flex-direction: column;
    }
    
}

footer{
    margin-top: 50px;
    text-align: center;
    color: #00374E;
}

footer i{
    color: red;
}

footer p{
    font-size: 1.1rem;
    font-weight: 500;
}

footer a{
    color: #00374E;
    text-decoration: underline #00374E;
    cursor: pointer;
}
